#container{
    margin: 5% auto;
    text-align: center;
}
.image{
    /*prima di mettere le immagini si può dare un colore di background per vedere il layout dei blocchi*/
    text-align: center; /*avrei potuto anche applicarlo alle righe*/
    display: inline-block;
    position: relative;
    margin-bottom: 2%;
}
/*.image img{
    width: 100%;
}
in questo caso non serve perché il contenuto img si è già adattato al blocco div*/

.discount-30{
    background-color: green;
    /*width: 40px;      una volta data la posizione non serve width*/
    position: absolute;
    top: 0;
    right: 0;

}
.discount-5{
    background-color: red;
    /*width: 30px;*/
    position: absolute;
    top: 0;
    right: 0;
}
.heart{
    position: absolute;
    bottom: 25px;
    left: 150px;
    display: none;
}
.image:hover .heart{
    color: red;
    display: block;
}