#container{
    margin: 5% auto;
    text-align: center;
}
.image{
    text-align: center;
    display: inline-block;
}
.discount-30{
    background-color: green;
    width: 40px;
}
.discount-5{
    background-color: red;
    width: 30px;
}